PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/port-russell?retryWrites=true&w=majority
SESSION_SECRET=remplace-moi-par-une-longue-phrase-secrete
SEED_ADMIN_USERNAME=capitainerie
SEED_ADMIN_EMAIL=admin@portrussell.local
SEED_ADMIN_PASSWORD=Password123!

